/* Variables */

:root {
  --icon-gray: #231f20;

  --basic-black: #000000;
  --basic-extra-dark-gray: #283136;
  --basic-dark-gray: #4d4d4d;
  --basic-medium-gray: #666666;
  --basic-gray: #e1e1e1;
  --basic-light-gray: #eeeeee;
  --basic-white: #ffffff;

  --form-dark-gray: #444444;
  --form-gray: #b4b9bb;
  --form-light-gray: #d7dcde;

  --btn-dark-gray: #d5d5d5;
  --btn-gray: #dfdfdf;
  --btn-border-gray: #dbdbdb;


  --basic-dark-red: #d7373b;
  --basic-medium-red: #e74346;
  --basic-red: #fb565a;

  --basic-dark-green: #00aa62;
  --basic-medium-green: #00bc6c;
  --basic-green: #00ca74;

  --basic-dark-yellow: #e5a722;
  --basic-medium-yellow: #eab534;
  --basic-yellow: #efc849;

  --special-white: rgba(255, 255, 255, 0.3);
  --special-gray: rgba(0, 0, 0, 0.25);
  --special-light-gray: rgba(0, 0, 0, 0.1);
}

/* Global */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

/* styles for header */

.header {
  min-height: 120px;
  background-color: var(--basic-light-gray);
}

.header .logo:focus {
  opacity: 0.3;
}

.header .logo {
  width: 160px;
  height: 65px;
}

.main-navigation ul {
  list-style: none;
  width: 438px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:
    min-content min-content min-content min-content;
  gap: 46px;

}

.main-navigation a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: var(--basic-red);
}

.main-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.active {
  border-bottom: 2px solid var(--basic-red);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.basket {
  max-width: 115px;
  padding-left: 26px;
}

/* styles for index.html */

/* slider */

.slider {
  background-color: var(--basic-light-gray);
  margin: 0;
}

.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding-top: 90px;
}

.slider p {
  color: var(--basic-extra-dark-gray);
}

.slider-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 240px;
  height: 50px;
  text-align: center;
  padding-top: 16px;
}

.slider-button:hover {
  background-color: var(--basic-medium-red);
}

.slider-button:focus {
  background-color: var(--basic-dark-red);
  color: var(--special-white);
}

.first-slide {
  display: grid;
  grid-template-columns: 380px;
  grid-template-rows:
    min-content min-content min-content;
  background-image: url(../img/slide-1.png);

}

.second-slide {
  background-image: url(../img/slide-2.png);
  display: grid;
  grid-template-columns: 520px;
  grid-template-rows:
    min-content min-content min-content;
}

.third-slide {
  display: grid;
  grid-template-columns: 415px;
  grid-template-rows:
    min-content min-content min-content;
  background-image: url(../img/slide-3.png);
}

.slide {
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right;
}

/* products */

.products {
  margin-top: 80px;
  margin-bottom: 77px;
  display: grid;
  grid-template-columns:
    min-content min-content min-content;
  gap: 100px;
}

.products div {
  width: 300px;
}

.products h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.products p {
  color: var(--basic-extra-dark-gray);
}

.products a {
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
}

.first-product a {
  background-color: var(--basic-red);
}

.first-product a:hover {
  background-color: var(--basic-medium-red);
}

.first-product a:focus {
  background-color: var(--basic-dark-red);
  color: var(--special-white);
}

.second-product a {
  background-color: var(--basic-green);
}

.second-product a:hover {
  background-color: var(--basic-medium-green);
}

.second-product a:focus {
  background-color: var(--basic-dark-green);
  color: var(--special-white);
}

.third-product a {
  background-color: var(--basic-yellow);
}

.third-product a:hover {
  background-color: var(--basic-medium-yellow);
}

.third-product a:focus {
  background-color: var(--basic-dark-yellow);
  color: var(--special-white);
}

/* about us */

.company {
  display: grid;
  grid-template-columns: 670px 360px;
  column-gap: 105px;
  margin-bottom: 50px;
}

.about-us h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us p {
  color: var(--basic-extra-dark-gray);
}

.about-us h4 {
  text-transform: uppercase;
  color: var(--basic-extra-dark-gray);
}

.about-us ul {
  list-style: none;
  color: var(--basic-extra-dark-gray);
}

/* statistics */

.statistics img {
  width: 360px;
  height: 208px;
}

.statistics h4 {
  text-align: center;
  text-transform: uppercase;
}

.statistics ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.statistics li {
  width: 120px;
}

.statistics span {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.statistics sup {
  font-size: 26px;
  line-height: 40px;
}

.statistics p {
  line-height: 18px;
  color: var(--basic-extra-dark-gray);
}


.manufacturers-list {
  list-style: none;
  padding: 47px 0 44px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.manufacturers-list a {
  opacity: 0.2;
}

.manufacturers-list a:hover {
  opacity: 1;
}

.manufacturers-list a:focus {
  opacity: 0.1;
}

.map .map-info {
  width: 319px;
  height: 308px;
  padding-left: 50px;
  margin-bottom: 10px;
  outline: 3px solid #00bc6c;
}

.map h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 50px;
}

.map p,
.map a {
  line-height: 18px;
  color: var(--basic-medium-gray);
}

.map .feedback-button {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pop-up {
  display: none;
}

/* styles for catalog.html */

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: var(--basic-light-gray);
  margin: 0;
  padding-bottom: 70px;
}

.inner-main .container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.price-scale h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 55px 0 48px 0;
}

.filter-range {
  background-color: var(--basic-light-gray);
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
}

.filter-interval label {
  text-transform: uppercase;
}

.filter-interval input {
  text-align: center;
  width: 80px;
  height: 38px;
  background-color: var(--basic-light-gray);
  border: none;
}

.filter-interval {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.l .filter {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter-interval label,
.filter-interval input {
  line-height: 22px;
  color: var(--basic-extra-dark-gray);
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-input+label {
  color: var(--basic-extra-dark-gray);
  line-height: 20px;
}

.filter-input:disabled+label {
  opacity: 0.3;
}

.filter .show-results {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-light-gray);
  border: none;
}

.filter .show-results:hover {
  background-color: var(--btn-gray);
}

.filter .show-results:focus {
  background-color: var(--btn-dark-gray);
  color: var(--special-gray);
}

.sort {
  width: 760px;
  margin: 55px 0 48px 140px;
  display: flex;
}

.sort .sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort .sort-items {
  width: 271px;
  display: flex;
  justify-content: space-between;
  margin-left: 267px;
}

.sort-items a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-items a:hover {
  opacity: 0.6;
}

.sort-items a:focus,
.sort-items .sort-active {
  opacity: 1;
}

.sort .sort-triangle {
  width: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 47px;
}

.sort-up-down path {
  opacity: 0.2;
}

.sort-up-down:hover path {
  opacity: 1;
}

.sort-up-down:focus path,
.sort-active path {
  fill: var(--icon-gray);
  opacity: 1;
}

/* catalog-list */

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  margin-left: 140px;
}

.catalog-item {
  width: 360px;
  min-height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;
  border: 1px solid var(--special-light-gray);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 358px;
  height: 576px;
}

.catalog-item .actions {
  background-color: var(--basic-light-gray);
  text-align: center;
}

.catalog-item:hover {
  box-shadow: 0px 4px 4px var(--special-gray);
}

.actions a:first-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.actions a:first-child:hover {
  color: var(--basic-red);
}

.actions a:first-child:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.actions p {
  color: var(--basic-medium-gray);
  line-height: 18px;
}

.actions .buy {
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.actions .buy:hover {
  background-color: var(--basic-medium-red);
}

.actions .buy:focus {
  background-color: var(--basic-dark-red);
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 443px;
  margin: 0 0 60px 140px;
  padding: 0;
}

.pagination-item a {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  display: block;
  width: 50px;
  height: 50px;
  padding: 17px 0px 15px 0px;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item a:hover {
  background-color: var(--btn-gray);
}

.pagination-item a:focus {
  background-color: var(--btn-dark-gray);
  color: var(--special-gray);
}

.pagination-item .active-page {
  background-color: var(--basic-white);
  border: 3px solid var(--btn-border-gray);
}

/* styles for footer */

.footer {
  background-color: var(--basic-white);
  padding-top: 68px;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  justify-content: space-between;

}

.social-button {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--basic-medium-red);
}

.social-button:focus {
  background-color: var(--basic-dark-red);
}

.social-button:focus svg {
  opacity: 0.3;
}

.footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer p {
  color: var(--form-dark-gray);
  line-height: 22px;
}

.footer {
  min-height: 217px;
  display: flex;
}

.footer-wrap {
  margin-left: 140px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
