/* Variables */

:root {
  --icon-gray: #231f20;

  --basic-black: #000000;
  --basic-extra-dark-gray: #283136;
  --basic-dark-gray: #4d4d4d;
  --basic-medium-gray: #666666;
  --basic-gray: #e1e1e1;
  --basic-light-gray: #eeeeee;
  --basic-white: #ffffff;

  --form-dark-gray: rgba(27%, 27%, 27%, 0.5);
  --form-gray: #b4b9bb;
  --form-light-gray: #d7dcde;
  --filter-grey: #f1f1f1;

  --slider-gray: #c1c1c1;
  --footer-gray: #444444;

  --btn-dark-gray: #d5d5d5;
  --btn-gray: #dfdfdf;
  --btn-border-gray: #dbdbdb;
  --tooggle-gray: #ababab;

  --basic-dark-red: #d7373b;
  --basic-medium-red: #e74346;
  --basic-red: #fb565a;

  --basic-dark-green: #00aa62;
  --basic-medium-green: #00bc6c;
  --basic-green: #00ca74;

  --basic-dark-yellow: #e5a722;
  --basic-medium-yellow: #eab534;
  --basic-yellow: #efc849;

  --special-white: rgba(255, 255, 255, 0.3);
  --special-gray: rgba(0, 0, 0, 0.25);
  --special-light-gray: rgba(0, 0, 0, 0.1);
  --special-shadow: rgba(0, 0, 0, 0.4);
  --special-border: rgba(0, 1, 1, 0.1);
  --special-tooggle: rgba(0, 0, 0, 0.15);
  
  --special-transparent: transparent;
}

/* Global */

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* grid */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-height: 100%;
}

/* Container */

.container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 10px;
}

/* styles for header */

.header {
  min-height: 115px;
  background-color: var(--basic-light-gray);
}

.header-inner {
  padding-bottom: 20px;
}

.header .logo:focus {
  opacity: 0.3;
}

.header .logo {
  width: 160px;
  height: 65px;

  margin-top: 49px;
}

.main-navigation ul {
  display: grid;
  grid-template-columns:
    -webkit-min-content -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-columns:
    min-content min-content min-content min-content;
  gap: 46px;

  width: 438px;
  margin: 0;
  margin-top: 75px;
  margin-right: 54px;
  padding: 0;

  list-style: none;
}

.main-navigation a,
.basket {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.main-navigation a:hover,
.basket:hover {
  color: var(--basic-red);
}

.main-navigation a:focus,
.basket:focus span {
  color: var(--basic-black);
  opacity: 0.3;
}

.active {
  padding-bottom: 19px;
  border-bottom: 2px solid var(--basic-red);
}

.main-navigation .active:hover{
  color: var(--basic-black);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.basket {
  position: relative;

  max-width: 115px;
  margin-top: 75px;
  margin-right: 20px;
  padding-left: 26px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* styles for index.html */

/* slider */

.slider {
  margin: 0;
  background-color: var(--basic-light-gray);
}

.slider .container {
  position: relative;
  padding-right: 30px;
}

.slider h2 {
  margin: 0;
  padding-top: 77px;
  padding-bottom: 27px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider p {
  margin: 0;
  color: var(--basic-extra-dark-gray);
}

.slider-button {
  width: 240px;
  min-height: 50px;
  margin-top: 38px;
  margin-bottom: 80px;
  padding-top: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-red);
  border-radius: 3px;
}

.slider-button:hover {
  background-color: var(--basic-medium-red);
}

.slider-button:focus {
  color: var(--special-white);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.first-slide {
  grid-template-columns: 380px;
  grid-template-rows:
    -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows:
    min-content min-content min-content;

  display: none;

  background-image: url(../img/slide-iphone.png);
}

.first-slide .slider-button {
  padding-top: 17px;
}

.second-slide {
  grid-template-columns: 520px;
  grid-template-rows:
    -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows:
    min-content min-content min-content;

  display: none;

  background-image: url(../img/slide-imac.png);
}

.second-slide h2,
.third-slide h2 {
  padding-bottom: 39px;
}

.second-slide .slider-button,
.third-slide .slider-button {
  margin-top: 26px;
}

.third-slide {
  grid-template-columns: 415px;
  grid-template-rows:
    -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows:
    min-content min-content min-content;

  display: none;

  background-image: url(../img/slide-ipad.png);
}

.slide {
  min-height: 430px;

  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: right bottom;
}

.slider .current-slide {
  display: grid;
}

.indicator {
  position: absolute;
  bottom: 96px;
  right: 565px;
  
  display: flex;
  justify-content: space-between;
  min-width: 88px;
}

.indicator-button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right:17px;

  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.indicator-button:last-child{
  margin-right: 0;
}

.indicator .current-btn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 8px;
  height: 8px;

  border: 2px solid var(--slider-gray);
  border-radius: 50%;
}

/* products */

.products {
  display: grid;
  grid-template-columns:
    300px 300px 300px;
  gap: 100px;

  margin-top: 80px;
  margin-bottom: 80px;
}

.products div {
  width: 300px;
}

.products h3 {
  margin: 0;
  margin-top: 173px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.products p {
  margin: 0;
  margin-top: 15px;

  color: var(--basic-extra-dark-gray);
}

.products a {
  display: block;
  width: 160px;
  height: 50px;
  margin-top: 31px;
  padding-top: 18px;

  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  
  border-radius: 3px;
}

.first-product,
.second-product,
.third-product{
  position: relative;
}

.first-product::before,
.second-product::before,
.third-product::before{
  content: "";
  position: absolute;
  top:0;

  width: 300px;
  height: 146px;

  background-position: 0 0;
  background-repeat: no-repeat;
}

.first-product::before{
  background-image: url(../img/product-red-book.jpg);
}

.second-product::before{
  background-image: url(../img/product-green-phone.jpg);
}

.third-product::before{
  background-image: url(../img/product-yellow-board.jpg);
}

.first-product a {
  background-color: var(--basic-red);
}

.first-product a:hover {
  background-color: var(--basic-medium-red);
}

.first-product a:focus {
  color: var(--special-white);
  background-color: var(--basic-dark-red);
}

.second-product a {
  background-color: var(--basic-green);
}

.second-product a:hover {
  background-color: var(--basic-medium-green);
}

.second-product a:focus {
  color: var(--special-white);
  background-color: var(--basic-dark-green);
}

.third-product a {
  background-color: var(--basic-yellow);
}

.third-product a:hover {
  background-color: var(--basic-medium-yellow);
}

.third-product a:focus {
  background-color: var(--basic-dark-yellow);
  color: var(--special-white);
}

.products a:focus{
  box-shadow: inset 0 3px 0 var(--special-border);
}

/* about us */

.company {
  position: relative;

  display: grid;
  grid-template-columns: 670px 360px;
  -moz-column-gap: 130px;
       column-gap: 130px;
  margin-bottom: 58px;
  padding-top: 38px;
}

.company::before,
.clients::before,
.clients::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;

  width: 1158px;
  height: 2px;

  background-color: var(--basic-light-gray);
}

.clients::after {
  top: 100%;
}

.about-us h2 {
  margin: 0;
  margin-top: 37px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us p {
  margin: 0;
  margin-top: 34px;

  color: var(--basic-extra-dark-gray);
}

.about-us h4 {
  margin: 0;
  margin-top: 41px;

  text-transform: uppercase;
  color: var(--basic-extra-dark-gray);
}

.about-us .developing {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  padding-left: 36px;
  
  color: var(--basic-extra-dark-gray);

  list-style: none;
}

.developing li {
  position: relative;

  padding-top: 10px;
  padding-bottom: 14px;
}

.developing li::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: var(--basic-red);
}

/* statistics */

.statistics img {
  width: 360px;
  height: 208px;
  margin-top: 3px;
}

.statistics h4 {
  margin: 0;
  margin-top: 30px;

  text-align: center;
  text-transform: uppercase;
}

.statistics ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 34px;
  padding: 0;

  list-style: none;
}

.statistics li {
  width: 120px;
}

.statistics span {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.statistics sup {
  font-size: 26px;
  line-height: 40px;
  vertical-align: 5%;
}

.statistics p {
  margin: 0;
  margin-top: 7px;

  line-height: 18px;
  color: var(--basic-extra-dark-gray);
}

.clients {
  position: relative;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 48px 0 38px 0;

  list-style: none;
}

.manufacturers-list li {
  position: relative;

  margin-left: 32px;
  margin-right: 63px;
  padding-top: 17px;
}

.manufacturers-list li:nth-child(2) {
  margin-right: 72px;
  padding-top: 0;
}

.manufacturers-list li:nth-child(3) {
  margin-right: 0;
  padding-top: 19px;
}

.manufacturers-list li:nth-child(4) {
  margin-left: 120px;
  margin-right: 0;
  padding-top: 6px;
}

.manufacturers-list li::after {
  content: "";
  position: absolute;
  top: 19px;
  right: -50px;

  width: 2px;
  height: 52px;

  background-color: var(--basic-light-gray);
}

.manufacturers-list li:nth-child(2)::after {
  right: -46px;
}

.manufacturers-list li:nth-child(3)::after {
  right: -57px;
}

.manufacturers-list li:nth-child(4n)::after {
  display: none;
}

.manufacturers-list a {
  opacity: 0.2;
}

.manufacturers-list a:hover {
  opacity: 1;
}

.manufacturers-list a:focus {
  opacity: 0.1;
}

.map {
  position: relative;
  height: 416px;
}

.map .container {
  position: relative;
}

.map iframe {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 416px;

  border: none;
}

.map img {
  width: 100%;
  height: 416px;
  margin: 0;

  -o-object-fit: cover;
     object-fit: cover;
}

.map .map-info {
  position: absolute;
  top: -370px;
  left: 10px;
  z-index: 3;

  width: 319px;
  height: 308px;
  padding-left: 50px;

  background-color: var(--basic-white);
}

.map h4 {
  margin: 0;
  padding-top: 51px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map p,
.map a {
  margin: 0;

  line-height: 18px;
  color: var(--basic-medium-gray);
}

.map p {
  padding-top: 22px;
  padding-bottom: 15px;
}

.map .feedback-button {
  display: block;
  width: 219px;
  height: 50px;
  margin-top: 11px;
  padding-top: 17px;

  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-red);
  border-radius: 3px;
}

.feedback-button:hover {
  background-color: var(--basic-medium-red);
}

.feedback-button:focus {
  color: var(--special-white);

  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--special-border);
}

/* styles for catalog.html */

.title-wrap{
  background-color: var(--basic-light-gray);
}

.title-container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  margin: 0;
  padding: 58px 36px 108px 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.inner-main .container {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter .price-scale {
  margin-top: 57px;
  margin-bottom: 56px;
}

.price-filter {
  margin-top: 31px;
}

.filter-range {
  position: relative;

  height: 80px;
  margin-bottom: 14px;
  padding: 39px 20px 0 20px;

  background-color:var(--filter-grey);
  border-radius: 3px;
}

.range-scale {
  height: 2px;
  background: var(--form-light-gray);
}

.range-scale-selected {
  width: 70%;
  height: 2px;

  background: var(--basic-green);
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: var(--tooggle-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;

  box-shadow: 0 2px 1px var(--special-tooggle);
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.filter-interval label {
  text-transform: uppercase;
}

.filter-interval input {
  width: 80px;
  height: 38px;
  margin-left: 8px;
  padding-top: 4px;

  font-family: inherit;
  font-size: inherit;
  text-align: center;
  
  background-color: var(--basic-light-gray);
  border: none;
  border-radius: 3px;
}

.filter-interval {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  width: 260px;
}

.filter-interval label,
.filter-interval input {
  line-height: 22px;
  color: var(--basic-extra-dark-gray);
}

.filter ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-input+label {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-left: 36px;

  line-height: 20px;
  color: var(--basic-extra-dark-gray);
}

.filter-input:disabled+label {
  opacity: 0.3;
}

.filter-input-radio+label::before,
.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio+label::before {
  background-image: url("../img/icon-radio-off.svg");
}

.filter-input-radio:checked+label::before {
  background-image: url("../img/icon-radio-on.svg");
}

.filter-input-checkbox+label::before {
  top: -3px;
  background-image: url("../img/icon-checkbox-off.svg");
}

.filter-input-checkbox:checked+label::before {
  background-image: url("../img/icon-checkbox-on.svg");
}

.filter-input:hover+label::before,
.filter-input:focus+label::before {
  opacity: 1;
}

.filter-input:disabled+label::before,
.filter-input:disabled+label {
  opacity: 0.2;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 28px;
}

.show-results {
  width: 260px;
  height: 50px;
  padding-top: 2px;
  padding-left: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: var(--basic-light-gray);
  border: none;
  border-radius: 3px;
}

.show-results:hover {
  background-color: var(--btn-gray);
}

.show-results:focus {
  color: var(--special-gray);

  background-color: var(--btn-dark-gray);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.sort {
  display: flex;
  width: 760px;
  margin: 57px 0 0 140px;
}

.sort .sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort .sort-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 271px;
  margin-left: 269px;
  padding-top: 2px;
}

.sort-items a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);

  opacity: 0.3;
}

.sort-items a:hover {
  opacity: 0.6;
}

.sort-items a:focus,
.sort-items .sort-active {
  opacity: 1;
}

.sort .sort-triangle {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin-left: 47px;
  padding-top: 1px;
}

.sort-up-down path {
  opacity: 0.2;
}

.sort-up-down:hover path {
  opacity: 1;
}

.sort-up-down:focus path,
.sort-active path {
  fill: var(--icon-gray);
  opacity: 1;
}

/* catalog-list */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 140px;
  margin-top: 46px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  z-index: 3;

  width: 360px;
  min-height: 620px;
  margin-right: 40px;
  margin-bottom: 30px;

  border-radius: 5px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;

  width: 360px;
  height: 40px;

  background-image: url(../img/browser.svg);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.12;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360px;
  height: 576px;
  padding-top: 40px;
}

.catalog-item-image img {
  border: 1px solid var(--special-light-gray);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-item .actions {
  position: absolute;
  bottom: 0;
  z-index: 2;

  width: 360px;
  height: 231px;

  text-align: center;
}

.actions-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 360px;
  min-height: 231px;

  background-color: var(--basic-light-gray);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.actions-link {
  display: block;
  padding-top: 27px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  position: relative;
  
  opacity: 0;
}

.actions .description {
  width: 255px;
  height: 47px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 22px;

  line-height: 18px;
  color: var(--basic-medium-gray);

  opacity: 0;
  overflow-y: scroll;
}

.actions .buy {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding-top: 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);
  border-radius: 3px;
 
  cursor: pointer;
  opacity: 0;
}

.catalog-item:hover .actions-link,
.catalog-item:focus .actions-link,
.catalog-item:hover .description,
.catalog-item:focus .description,
.catalog-item:hover .buy,
.catalog-item:focus .buy,
.actions-link:hover,
.actions-link:focus,
.actions-link:hover~.description,
.actions-link:focus~.description,
.actions-link:hover~.buy,
.actions-link:focus~.buy,
.catalog-item:focus-within::before {
  opacity: 1;
}

.actions-link:hover {
  color: var(--basic-red);
}

.actions-link:focus {
  color: var(--basic-black);
}

.buy:hover {
  background-color: var(--basic-medium-red);
}

.buy:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 4px 4px var(--special-gray);
}

.catalog-item:hover img,
.catalog-item:focus img {
  border: none;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 443px;
  margin: 0 0 60px 140px;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  display: block;
  min-width: 50px;
  height: 50px;
  padding: 17px 0 15px 0;

  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-light-gray);
  border-radius: 3px;
}

.pagination-item:first-child a {
  padding: 15px 0 17px 0;
}

.pagination-item:last-child a {
  width: 260px;
}

.pagination-item a:hover {
  background-color: var(--btn-gray);
}

.pagination-item a:focus {
  color: var(--special-gray);

  background-color: var(--btn-dark-gray);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.pagination-item .active-page,
.pagination-item .active-page:hover,
.pagination-item .active-page:focus {
  background-color: var(--basic-white);
  border: 3px solid var(--btn-border-gray);
}

/* styles for footer */

.footer {
  background-color: var(--basic-white);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding: 0;
  padding-top: 69px;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  margin-bottom: 10px;

  color: var(--basic-black);

  background-color: var(--basic-gray);
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--basic-medium-red);
}

.social-button:focus {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.social-button:focus svg {
  opacity: 0.3;
}

.footer h2 {
  margin: 0;
  padding-top: 79px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer p {
  margin: 0;
  padding-top: 8px;

  color: var(--footer-gray);
  line-height: 22px;
}

.footer {
  display: flex;
  min-height: 217px;
}

.footer-wrap {
  margin-left: 140px;
}

/* styles for pop-up */

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: none;
  width: 960px;
  height: 590px;
  margin: 0 auto;

  background-color: var(--basic-white);
  box-shadow: 0 20px 40px var(--special-shadow);
  
  transform: translate(-50%, -50%);
}

.show-pop-up {
  display: block;

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -2000px);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.hide {
  -webkit-animation-name: bounce-reverse;
          animation-name: bounce-reverse;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes bounce-reverse {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -2000px);
  }
}

@keyframes bounce-reverse {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -2000px);
  }
}

.pop-up p {
  margin: 0;
}

.pop-up h2 {
  margin: 0;
  padding-top: 82px;

  font-size: 45px;
  font-weight: bold;
  line-height: auto;
}

.pop-up-wrap {
  width: 760px;
  margin: 0 auto;
}

.name-email {
  display: flex;
  flex-wrap: wrap;
}

.name-email label {
  display: flex;
  flex-wrap: wrap;
  width: 360px;

  font-weight: bold;
  line-height: 18px;
}

.name-email p {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 32px;
}

.name-email p:first-child {
  margin-right: 40px;
}

.name-email input {
  width: 360px;
  height: 50px;
  margin-top: 8px;
  padding-top: 3px;
  padding-left: 14px;

  line-height: 18px;

  border: 2px solid var(--form-light-gray);
  border-radius: 3px;
}

.name-email input::-webkit-input-placeholder {
  color: var(--form-dark-gray);
}

.name-email input::-moz-placeholder {
  color: var(--form-dark-gray);
}

.name-email input::placeholder,
.pop-up textarea {
  color: var(--form-dark-gray);
}

.pop-up label {
  font-weight: bold;
  line-height: 18px;
}

.pop-up textarea {
  width: 100%;
  height: 118px;
  margin-bottom: 39px;
  margin-top: 5px;
  padding: 15px 0 0 14px;

  border: 2px solid var(--form-light-gray);
  border-radius: 3px;
}

.pop-up input:hover,
.pop-up textarea:hover {
  border-color: var(--form-gray);
}

.name-email input:focus::-webkit-input-placeholder {
  color: var(--basic-black);
  border-color: var(--basic-black);
}

.name-email input:focus::-moz-placeholder {
  color: var(--basic-black);
  border-color: var(--basic-black);
}

.pop-up input:focus,
.pop-up textarea:focus,
.name-email input:focus::placeholder {
  color: var(--basic-black);
  border-color: var(--basic-black);
}

.name-email input:invalid::-webkit-input-placeholder {
  color: var(--basic-red);
  border-color: var(--basic-red);
}

.name-email input:invalid::-moz-placeholder {
  color: var(--basic-red);
  border-color: var(--basic-red);
}

.pop-up input:invalid,
.pop-up textarea:invalid,
.name-email input:invalid::placeholder {
  color: var(--basic-red);
  border-color: var(--basic-red);
}

.pop-up button {
  width: 259px;
  height: 50px;
  padding-top: 2px;

  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.pop-up button:hover{
background-color: var(--basic-medium-red);
}

.pop-up button:focus{
  background-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--special-border);
}

.pop-up .close-popup {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color:var(--special-transparent);
  background-image: url(../img/icon-close-cross.svg);

  opacity: 0.3;
}

.pop-up .close-popup:hover,
.pop-up .close-popup:focus{
  background-color:var(--special-transparent);
}

.close-popup:hover {
  opacity: 1;
}

.close-popup:focus {
  opacity: 0.1;
}

.error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes shake {

  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-49%, -50%);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}